<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue JS Ground Up</title>
</head>
<body>
    <div id="app">
       <h1 v-if="hidden">Show IF is true</h1>
       <h1 v-else>Show ELSE is true</h1>

       <ul>
           <li v-for="item in items">
               <p v-if="item.checked">{{ item.text }}</p>

               <div v-if="item.checked">Checked!</div> 

               <button @click="item.checked = ! item.checked">Toggle</button>
           </li>
           
       </ul>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        new Vue({
           el: '#app',
           data: {
             hidden: true,
             items: [
                {text: 'item1', checked: true},
                {text: 'item2', checked: true},
                {text: 'item3', checked: false},
             ],
           }
        });
    </script>

</body>
</html>